.about_______menu______locations______GALLERY___ {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(119, 164, 102);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.643;
  position: absolute;
  left: 737.937px;
  top: 46.999px;
  z-index: 34;
}
